
*{
    padding:0;
    margin:0;
}
#id-container{
    background-color: lightgrey;
    box-sizing: border-box;
    height: 11rem;
    width: 18rem;
    display: flex;
    justify-content: center;

    
}
.background{
    background-color: red;
    border-radius: 20px;
}
h1{
    color: white;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    
}
h2{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
h1, h2{
    margin:0;
}
footer{
    display: flex;
    position: relative;
    bottom: 0;
    margin:0;
    height: 1.5rem; 
}
#id{
    width: 17rem;
    border: black solid 2px;
    margin:.5rem;
    height: 10rem;
    box-sizing: border-box; 
    margin-top: .5rem;


    
    
}
#name{
    height: 3.17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Birthstone', cursive;
    background-color: white;

}
